.popup__button-submit {
  background: #000000;
  color: #ffffff;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 618px) {
  .popup__button-submit {
    font-size: 14px;
    line-height: 17px;
  }
}